# WINDOWS
# Windows image file caches
Thumbs.db
ehthumbs.db
# Folder config file
Desktop.ini
# Recycle Bin used on file shares
$RECYCLE.BIN/

# OSX
.DS_Store
.AppleDouble
.LSOverride
Icon
# Thumbnails
._*
# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Netbeans
nbproject/private/
build/
nbbuild/
dist/
nbdist/
nbactions.xml
nb-configuration.xml
/StoreGUI/nbproject/private/
/WarehouseGUI/nbproject/private/

# base de dados
/BookstoreDB/seg0/
/BookstoreDB/log/
/BookstoreDB/db.lck
/Console/nbproject/private/